$primary-bg-color: #3498db;     
$secondary-bg-color: #1558a5;    
$tertiary-bg-color:  #96a6b4 ; 
$error-color: #dc3545;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

$spacing-xsmall: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

$font-primary: "Inter", sans-serif;         
$font-secondary: "Playfair Display", serif; 
$font-family: 'Arial', sans-serif;  
$font-weight-normal: 400;
$font-weight-bold: 700;    

$border-color-light: #ccc;
$border-color-dark: #333;

$primary-color: $primary-bg-color;
$secondary-color: $secondary-bg-color;

$background-color-light: #f5f5f5;   
$background-color-dark: #2c3e50;    
    